---
layout: default
author: jveillet
---

{% assign author = site.data.authors[page.author] %}

<article class="article page-author">

  <h1>About author {{author.name}}</h1>

  <div class="page-author-avatar">
    <img src="{{ author.avatar }}" alt="{{ author.handle }}" class="avatar avatar--size">
  </div>

  <div class="article-excerpt archives-spacing">{{ author.description }}</div>

  <div class="archives archives-spacing">
    {% include author-links.html %}
  </div>

<div class="archives">
  <span class="section-title color-gray-warm-dark">Articles by {{ author.name }}</span>
  <ol class="list-unordered" start="1" type="1">
    {% for post in site.posts %}
      {% if author.handle == post.author %}
        <li>
          <a href="{{ site.url }}{{ post.url }}" class="primary-link">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</div>

</article>
