/**
Name: utility.css
Description: Utility classes
*/

/* Text utilities */

blockquote {
  border-left: .3em solid var(--main-text-color);
  font-style: italic;
  font-weight: 400;
  padding: .5em;
  margin: 0;
}

/* code {
  background-color: #dce4ef;
  color: #4e4e4e;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  white-space: pre-line;
  white-space: pre-wrap;
  white-space: pre;
} */

.section-title {
  display: block;
  font-weight: bold;
  letter-spacing: .1em;
  margin-bottom: .75em;
  margin-top: .75em;
  text-transform: uppercase;
  color: var(--main-section-title-color);
}

/* Lists utilities */

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-unordered {
  list-style-type: disc;
  margin-left: 2em;
}

.list-ordered {
  list-style-type: decimal;
  margin-left: 2em;
}
