<!-- footer -->
<div class="footer bg-green--lightgreen">
  <div class="grid-container">
    <div class="row clearfix">
      <div class="column third">
        <h3 class="black">Latest posts</h3>
        <ul>
          {% for post in site.posts limit:8 %}
            <li><a href="{{ site.baseurl }}{{ post.url }}" class="footer-link" title="{{ post.title }}">{{ post.title | truncate: 40, '...' }}</a></li>
          {% endfor %}
        </ul>
      </div><!-- end of column -->
      <div class="column third">
        <h3 class="black">Menu</h3>
        <ul>
          <li><a href="{{ site.url }}" class="footer-link">Blog</a></li>
          <li><a href="{{ site.url }}/archives'" class="footer-link">Archives</a></li>
          <li><a href="{{ site.url }}/styleguide" class="footer-link">Styleguide</a></li>
        </ul>
      </div><!-- end of column -->
      <div class="column third">
        <h3 class="black">Categories</h3>
        <ul>
        {% for category in site.categories %}
          <li><a href="{{ site.url }}/{{ category | first | downcase | replace: ' ', '_'  }}" class="footer-link">{{ category | first }} ({{ category | last | size }})</a></li>
        {% endfor %}
        </ul>
      </div><!-- end of column -->
    </div><!-- end of row -->
  </div><!-- end of grid-container -->
  <div class="footer-disclaimer">
    Copyright &copy; <script>document.write(new Date().getFullYear());</script> - All this site's content under a <a rel="license" class="footer-disclaimer-link" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
  </div>
</div><!-- end of footer -->