
<div class="topbar bg-purple--light">
  <div class="topbar-logo">
    <a href="/" class="topbar-logo-url">{{site.name}}</a>
  </div><!-- end of topBar logo -->
  <div class="topbar-menu">
    <button class="topbar-menu-btn topbar-menu-btn--small">Menu</button>
      <nav id="js-menu" role="navigation" class="topbar-navigation">
        <ul>
          <li><a href="/" class="topbar-navigation-item">Home</a></li>
          <li><a href="/archives" class="topbar-navigation-item">Archives</a></li>
          <li><a href="/styleguide" class="topbar-navigation-item">Styleguide</a></li>
        </ul>
      </nav><!-- end of topBarNavigation -->
  </div><!-- end of topBarMenu -->
</div><!-- end of topBar -->
