/*
Name: colors.css
Description: Colors stylesheet for demain·il·pleut
*/

/* Background colors */

.bg-black {
  background-color: #0a0000;
}

.bg-blue {
  background-color: #0071bc;
}

/* Colors */

.black {
  color: #0a0000;
}

.white {
  color: #ffffff;
}

.color-gray {
  color: #5b616b;
}

.color-gray-light {
  color: #aeb0b5;
}

.color-gray-lighter {
  color: #d6d7d9;
}

.color-gray-lightest {
  color: #f1f1f1;
}

.color-gray-warm-dark {
  color: #494440;
}

.color-gray-warm-light {
  color: #e4e2e0;
}

.blue {
  color: #0071bc;
}

.blue-dark {
  color: #205493;
}
