/**
Name: styleguide.css
Description: Styleguide specific  styles
*/

.patterns {
  margin-top: 1em;
}

.pattern {
  margin-top: 2em;
}

.pattern-title {
  color: var(--grey-secondary);
  font-size: 1.5em;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.color {
  width: 10em;
  height: 6em;
  text-align: center;
  margin: 1em;
}

.color-text {
  font-size: .8em;
  font-weight: 700;
  width: 100%;
  margin-top: 60%;
  color: #ffffff;
  background-color: var(--black);
}

.inline {
  display: inline-block;
}

.inline button {
  margin-top: .25em;
}

.inline button:last-child {
  margin-bottom: 0;
  margin-left: 0;
}

.btn-primary {
  background-color: var(--primary-button-bg-color);
  color: #ffffff;
}

.pattern-color-primary {
  background: var(--primary-color);
}

.pattern-color-primary-darker {
  background: var(--primary-color-darker);
}

.pattern-color-white {
  background: #ffffff;
  border: .0625em solid #f1f1f1;
}

.pattern-color-black {
  background: #0a0000;
}

.pattern-color-gray {
  background: var(--grey);
}

.pattern-color-gray-light {
  background: var(--article-sep-color);
}

.pattern-color-gray-lightest {
  background: #f1f1f1;
}

.pattern-color-gray-warm-dark {
  background: var(--grey-secondary);
}

.pattern-color-gray-warm-light {
  background: #e4e2e0;
}
