---
layout: default
---

<h1>Archives for {{ page.title }} category</h1>

<div class="archives">
  <ul class="list-unordered">
  {% for post in page.posts %}
  <li><a href="{{ post.url | prepend: site.baseurl }}" class="archives-link">{{ post.title }}</a><span class="archives-complement">&mdash;{{ post.date | date: '%B %d, %Y' }} at {{ post.published_at | date: "%R" }}</span></li>
  {% endfor %}
  </ul>
</div>

<div class="archives archives-return-link">
  <a href="{{ site.baseurl }}/archives" class="archives-link">&larr; Return to archives</a>
</div>
