---
layout: default
---

<h1>Archives for {{ page.date | date: "%B %Y" }}</h1>

<div class="archives archives-return-link">
  <a href="/archives" class="archives-link">&larr; Return to archives</a>
</div>

<div class="posts">
  {% for post in page.posts %}
   <!-- Look the author details up from the site config. -->
    {% assign author = site.data.authors[post.author] %}
    <article class="article">
      <h2><a href="{{ post.url }}" class="article-title">{{ post.title }}</a></h2>
      <span class="article-author"><a class="article-author--link" href="/author/{{ author.handle }}/">{{ author.name }}</a></span>
      <span class="article-pubdate">—&nbsp;<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%B %d, %Y' }} at {{ post.published_at | date: "%R" }}</time></span>
      <div class="article-summary"></div>
      <p>
        {{ post.excerpt || strip_links || strip_imgs }}
      </p>
      <div class="article-footer"><a class="btn bg-magenta white" href="{{ post.url }}">Read more…</a></div>
    </article>
  {% endfor %}
</div>

<div class="archives archives-return-link">
  <a href="/archives" class="archives-link">&larr; Return to archives</a>
</div>
