/**
Name: footer.css
Description: Footer section styles
*/

.footer {
  padding-top: 1rem;
  background-color: #e4e2e0;
}

.footer-disclaimer {
  font-size: .8em;
  text-align: center;
  margin-top: 1rem;
}

.footer-disclaimer-link,
.footer-disclaimer-link:visited {
  color: #0a0000;
  text-decoration: none;
  font-weight: 600;
}

.footer-disclaimer-link:hover {
  text-decoration: underline;
}

.footer-link,
.footer-link:visited {
  color: #0a0000;
  text-decoration: none;
  font-weight: 400;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-hastgag {
  color: #205493;
  font-weight: bold;
}


.footer-sections {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
}

@media all and (min-width: 47em) {

  .footer-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0;
    justify-items: center;
    padding: 1em;
  }

}
